In [2]:
import pandas as pd
import numpy as np

In [3]:
df_test = pd.DataFrame({"b" : [4,5,6], "a" : [7, 8, 9]}, index = [2,1,3])
print(df_test)

   a  b
2  7  4
1  8  5
3  9  6

In [6]:
pd.melt(df_test)

  variable  value
0        a      7
1        a      8
2        a      9
3        b      4
4        b      5
5        b      6

In [4]:
df_test.sort_index()

   a  b
1  8  5
2  7  4
3  9  6

In [5]:
df_test.reset_index()

   index  a  b
0      2  7  4
1      1  8  5
2      3  9  6

In [14]:
df_test[df_test.a <= 8]

   a  b
2  7  4
1  8  5

In [ ]:
d