In [25]:
import pandas as pd

In [29]:
from numpy import NAN

In [94]:
df = pd.read_excel("Pro_41/Merged_Fruit_logs/batch01526_merged.csv.xlsx", header = None)

In [95]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Batch Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EventTime,SizerBatchId,GrowerCode,GrowerName,BatchName,StartTime,EventTime,Name,SizerId,BatchId,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-26 18:41:47,1526,41,Georgios Vidalakis/Irene,04_15,2018-01-26 09:22:21,2018-01-26 18:41:47,Oranges,1,1526,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fruit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
batch_info = df.iloc[[2], 0:10]

In [97]:
batch_info.columns = [df.iloc[1, 0: 10]]

In [98]:
batch_info.head()

1,EventTime,SizerBatchId,GrowerCode,GrowerName,BatchName,StartTime,EventTime,Name,SizerId,BatchId
2,2018-01-26 18:41:47,1526,41,Georgios Vidalakis/Irene,04_15,2018-01-26 09:22:21,2018-01-26 18:41:47,Oranges,1,1526

In [133]:
batch_info.shape

(1, 10)

In [99]:
fruit_info = df.iloc[6:, :]

In [100]:
fruit_info.columns = [df.iloc[5]]

In [134]:
fruit_info = fruit_info.dropna()

In [135]:
fruit_info.shape

(589, 80)

In [131]:
fruit_info.head()

5,EventTime,Cup,Lane,Weight,LR_Diff,DownWeight,UpWeight,GradeValue,MajorDiameter,MinorDiameter,...,Rough skin,Ridges,Creases,Major Diameter (mm)_duplicate_column_1,Minor Diameter (mm)_duplicate_column_1,Volume (ml)_duplicate_column_1,Cyclic Rod Number,Trip Rod,Fruit Center X (mm),Fruit Center Y (mm)
6,2018-01-26 18:42:09,532,1,137.2,35.7,50.75,86.45,0,73.3,72,...,0,0,0,73.3404,72.0382,193.566,212,52444,2.6893,-2.2368
7,2018-01-26 18:46:05,390,1,212.2,33.6,89.3,122.9,0,76.2,74.9,...,74.0741,0,0,76.1916,74.903,228.145,238,54262,4.4238,-3.5985
8,2018-01-26 18:46:05,395,1,232.4,36.6,97.9,134.5,0,80,77.4,...,67.8571,0,0,79.9737,77.3695,252.183,243,54267,4.5075,-5.239
9,2018-01-26 18:46:07,406,1,326.4,38.1,144.15,182.25,0,88.7,86.9,...,92.5926,0,0,88.7347,86.9461,350.031,254,54278,2.7032,0.8197
10,2018-01-26 18:46:07,410,1,316.4,39.1,138.65,177.75,0,88.9,86.2,...,80.7692,0,0,88.9257,86.1946,351.388,2,54282,4.2563,-2.3657